/*<><><><><><> Cores <><><><><><> */
:root {
  --black: #000;
  --gold: #db9736;
  --white: #fff;
}

/*<><><><><><> Fonte <><><><><><> */
@font-face {
  font-family: 'fira_light';
  src: url('../font/FiraSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_medium';
  src: url('../font/FiraSans-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

/*<><><><><><> Estilo Geral <><><><><><> */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "fira_light", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  box-sizing: border-box;
  color: rgb(97, 97, 97);
}

h1,
h2 {
  font-size: 3.6rem;
  font-weight: 300;
}

h3 {
  font-variant: small-caps;
}

h5{
  font-family:"fira_medium" ;
}

ul li {
  line-height: 40px;
}

a {
  color: var(--gold);
}

a:hover {
  text-decoration: none;
  color: var(--white);
}

hr {
  height: 1px;
  margin: 50px 0;
  background-color: var(--gold);
  box-shadow: 1px 1px 1px rgb(204, 204, 204);
}

header{
  background-color: black;
}

header div img {
  width: 65%;
}

/*<><><><><><> Texto Selecionado <><><><><><>*/
::selection {
  background: var(--gold);
  color:var(--white);
}

/*<><><><><><> Navegação <><><><><><>*/
nav {
  font-family: "fira_light", sans-serif;
  font-variant: small-caps;
  font-size: 1.4rem;
  background-color: black;
}

nav a {
  color: var(--white);
}

nav a:hover {
  color: var(--gold);
}

#logo-menu {
  font-size: 1.6rem;
  border: 1px solid var(--gold);
  padding: 0 10px 0 10px;
}

#logo-menu:hover {
  background-color: var(--gold);
  transition: 0.5s;
}

#navegacao a {
  color: var(--white);
}

#navegacao a:hover {
  color: var(--gold);
  transition: 0.5s;
}

#link-estudo {
background-color: rgba(146, 146, 146, 0.151);
}

/*<><><><><><> Botão Voltar ao Inicio da Página <><><><><><>*/
.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: var(--gold);
  display: none;
  font-size: 20px;
}

.back-to-top:hover {
  color: #333;
}

/*<><><><><><> Botões <><><><><><>*/
.button,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  font-size: 1.8rem;
  line-height: 22px;
  font-variant: small-caps;
  background: transparent;
  border: 5px solid var(--gold);
  display: inline-block;
  cursor: pointer;
  color: var(--gold);
  padding: 14px 50px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  z-index: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
  text-align: center;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  outline: none;
  text-decoration: none;
}

.button::before,
button::before,
input[type="button"]::before,
input[type="submit"]::before,
input[type="reset"]::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--gold);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(1, 2, 1);
  transform: scale3d(1, 2, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  color: #ffffff !important;
  background-color: var(--gold);
}
.button:hover::before,
button:hover::before,
input[type="button"]:hover::before,
input[type="submit"]:hover::before,
input[type="reset"]:hover::before {
  -webkit-transform: scale3d(9, 9, 1);
  transform: scale3d(9, 9, 1);
}

.buttonIndice{
  width: 100%;
  line-height: 28px;
}

.buttonTeoria{
  font-size: 1.4rem;
  line-height: 40px;
  width: 30%;
  padding: 0;
}

/*<><><><><><> Call to action <><><><><><>*/

#call-to-action{
  background-color: black;
}

/*<><><><><><> Cards Cursos <><><><><><>*/
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 30px;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.068) !important;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.199) !important;
}

.icon-music {
  color: var(--gold);
  display: block;
  font-size: 6rem;
  padding: 30px;
  border: 1px solid var(--gold);
  border-radius: 100%;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

.icon-music:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.card-link {
  color: var(--gold);
  padding-top: 10px;
  font-variant: small-caps;
  font-size: 1.3rem;
}

.card-link:hover {
  color: var(--black);
  transition: 0.8s;
}


/*<><><><><><> Vídeos <><><><><><>*/
#videos{
  background-color: black;
}
/*<><><><><><> Seção Contato <><><><><><>*/
.contact-icon {
  color: var(--gold);
  font-size: 1.6rem;
  margin: 5px;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

.contact-icon:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

#contato {
  margin-top: 100px;
}

/*<><><><><><> Formulários <><><><><><>*/
.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--gold);
  border-radius: 0;
}

.input:focus {
  border-bottom: 1px solid var(--gold);
  box-shadow: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.068) !important;
  background-color: transparent;
}

/*<><><><><><> Página Índice <><><><><><>*/

#indice{
  background-color: black;
}

/*<><><><><><> Footer <><><><><><>*/
footer {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

.img-footer {
  width: 20%;
}

.social-icon {
  color: var(--white);
  font-size: 1.6rem;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

.social-icon:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  color: var(--gold);
}

/*<><><><><><> Media Query <><><><><><>*/
@media screen and (max-width: 768px) {
  .img-footer {
    width: 50%;
  }

  .buttonIndice {
    font-size: 1.4rem;
    line-height: 30px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonTeoria{
    font-size: 1rem;
    width: 50%;
  }
  #logo{
    width: 80%;
    margin: 50px auto;
  }
}
